* {
  margin: 0;
  padding: 0;
}
a {
  color: rgba(255, 0, 0, 1);
  text-decoration: none;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 1280px;
  height: 650px;
}
.header {
  height: 78px;
  text-align: center;
}
.navigation {
  padding-top: 25px;
  padding-bottom: 25 px;
}
.navigation li {
  display: inline;
  margin: 36px;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.content-header {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 38px;
  text-transform: uppercase;
  letter-spacing: 3.3px;
}
.content-text {
  text-align: center;
  margin: 67.5px;
  line-height: 26px;
  letter-spacing: 2.4px;
}
.button {
  width: 191px;
  height: 51px;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: #ff0000;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  line-height: 12px;
  color: white;
}

.footer {
  margin: 119px 105px 29px 0;
  text-align: right;
  letter-spacing: 2.4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
